
.jumbotron{
margin-bottom:;
background-image: url(buynothing.jpg);
background-position: center;
background-size:cover;
background-repeat: no-repeat;
color: white;

;
;
}

.display-3{color: white}

.btn-dark {
    color: black;
    background-color: darkgrey;
    border-color: darkgrey;}
